@using Umbraco.Web.UI.App_Plugins.Obviuse
@model Umbraco.Web.UI.App_Plugins.Obviuse.ContactFormModel

<h2>More info?</h2>
<p>Enter your name and e-mail and we'll get back to you!</p>
@using (Html.BeginUmbracoForm<ContactFormSurfaceController>("HandleForm"))
{
    <fieldset>
        <label>
            <span>Name</span>
            @Html.TextBoxFor(model => model.Name)
        </label>

        <label>
            <span>Phone</span>
            @Html.TextBoxFor(model => model.Phone)
        </label>

        <button type="submit">Send</button>
    </fieldset>
}

