@inherits UmbracoViewPage<Umbraco.Web.UI.App_Plugins.Obviuse.StartPageViewModel>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "layout.cshtml";
}

<article>

    @Html.GetGridHtml(Model.Content, "grid")

    <hr />
    <h2>Upcomming meetings</h2>
    <ul>
        @foreach (var meeting in Model.Meetings)
        {
            <li>
                <strong>@meeting.Description</strong> @meeting.DateTime.ToString("yyyy-MM-dd HH:mm")
            </li>
        }
    </ul>

    <hr />

    @Html.Action("RenderForm", "ContactFormSurface")

</article>


@*@Umbraco.GetDictionaryValue("Test/Test")*@
